<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First select</title>
</head>
<body>

<table border="1" cellpadding="5">
<#list list as array>
    <tr>
        <#list array as elem>
        <td>
            ${elem}
        </td>
        </#list>
    </tr>
</#list>

</table>
</body>
</html>