.block {
    width: 720px;
    margin: 50px auto;
}



.text1 {
    text-align: left;
    float: left;
    color: red;
    width: 125px;
    margin-bottom: 20px;
 }

.text2 {
    text-align: center;
    float: left;
    width: 125px;
    margin-left: 16px;
    margin-bottom: 20px;
}


.text3 {
    text-align: right;
    float: left;
    color: limegreen;
    width: 125px;
    margin-left: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

.text4 {
    color: yellow;
    float: left;
    font-weight: bold;
    width: 125px;
    margin-left: 16px;
    margin-bottom: 20px;


}

.text5 {
    text-align: left;
    float: left;
    width: 125px;
    margin-left: 16px;
    margin-bottom: 20px;


}

.text6 {
     text-align: center;
    font-style: italic;
     width: 266px;
     float: left;
     margin-bottom: 20px;
}

.text7 {
    color :red;
    text-align: left;
    width: 125px;
    float: left;
    margin-left: 16px;
    margin-bottom: 20px;
}

.text8 {
    text-align: left;
    font-weight: bold;
    width: 125px;
    float: left;
    margin-left: 16px;
    margin-bottom: 20px;
}

.text9 {
    text-align: left;
    color: limegreen;
    width: 125px;
    float: left;
    clear: both;
    margin-bottom :20px;
}

.text10 {
    text-align: justify;
    color: dodgerblue;
    width: 407px;
    float :left;
    margin-left: 16px;
    margin-bottom :20px;
}

.text11 {
    text-align: right;
    color: limegreen;
    width: 125px;
    float :left;
    margin-left: 16px;
    margin-bottom :20px;
}

.text12 {
    text-align: left;
    font-weight: bold;
    width: 125px;
    float: left;
    margin-bottom: 20px;
}

.text13 {
    text-align: center;
    color: dodgerblue;
    font-weight: bold;
    width: 260px;
    float: left;
    margin-left: 16px;
    margin-bottom: 20px;
}

.text14 {
    text-align: center;
    color: red;
    width: 272px;
    float: left;
    margin-left: 16px;
    margin-bottom: 20px;
}
