<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>

<form action="${action}" method="GET">
    <input type="text" name="${param}"/><br>
    <input type="submit" value="Поиск на ${name}"/>
</form>

</body>
</html>