body {
    color: #787878;
    font: 17px Tahoma, sans-serif;
    margin: 0;
    background-image: url(/images/background.jpg);
    background-size: 115% ;
    height: 100%;
}

nav {
    background-color: #f8f8f8;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    width: 100%;
    position: relative;
    z-index: 1;

}


p {
    margin: 20px 0;
}

#wrapper {
    background-color: rgba(248, 248, 248, 0.91);
    max-width: 100%;
    position: relative;
    margin: 0 12%;
    padding-bottom: 50px;

}


header {
    padding: 20px 0;
    background-color: #f8f8f8;
}

h1 {
    display: inline-block;
    color: #7e7e7e;
    font: 40px/40px 'Serif', sans-serif;

    margin: 0;
    padding: 0 10px;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 50px;

}

.top-menu li {
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.top-menu li:last-child {
    float: right;
    padding-right: 50px;
}

.top-menu li:first-child {
    padding-left: 50px;
}

.top-menu li.active {
    background: #b2b2b2;
    color: #fff;
}

.top-menu a {
    color: #6e6e6e;
}

section {
    padding-bottom: 50px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;

}

.aside-menu li {
    font-weight: 300;
    list-style-type: square;
    border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
    border: none;
}

.aside-menu li.active {
    color: #29c5e6;
}

.aside-menu a {
    color: #8f8f8f;
}

footer {
    background: #e0e0e0;
    color: #dbdbdb;
    font-size: 11px;
    margin: auto;
    padding: 10px 0;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 0;

}

.center-block {
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    background-color: #fafff0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.19);
    border-radius:4px;
    width: auto;
}

.forms{
    padding-top: 20px;
}

.login-form {
    align-content: center;
}



