<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<#if error_msg??>
${error_msg}
</#if>
<form action="/login" method="POST">
    <input type="text" placeholder="login" name="login"
           <#if login??>value="${login}</#if>"/>
    <br>
    <input type="text" name="password" placeholder="password"/>
    <br>
    <input type="checkbox" name="remember" value="1"/>remember me
    <br>
    <input type="submit" value="login"/>
</form>


</body>
</html>