<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second select</title>
</head>
<body>

<table border="1" cellpadding="5">
<#list list as array>
    <tr>
        <#list array as elem>
            <td>
            ${elem}
            </td>
        </#list>
    </tr>
</#list>

</body>
</html>